/* Estilos generales */
a {
  color: black;
  text-decoration: none; /* Elimina el subrayado por defecto */
  padding: 2px 10px; /* Agrega un poco de relleno en los lados de los enlaces */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

h2 {
  color: black;
}

/* Estilos para la barra de navegación */
.navbar {
  background-color: #0084ff;
  color: rgb(0, 0, 0);
  padding: 10px;
}

.navbar-brand {
  font-size: 24px;
}

/* Estilos para la lista de navegación */
.navbar-nav {
  list-style-type: none;
  padding: 0;
}

.navbar-nav li {
  display: inline;
  margin-right: 20px;
}

/* Estilos para las tablas */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #d8d5d5;
  color: white;
}

/* Estilos para los botones */
.btn {
  background-color: #02d5fa;
  color: white;
  border: none;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block; /* Cambia el comportamiento de bloque a en línea */
  margin-right: 10px; /* Cambia el margen derecho para separar los botones */
}

.btn:hover {
  color: black;
  background-color: #0084ff;
}

/* Estilos para los div con clase 'jeje' */
.jeje {
  background: #02d5fa;
  border: 1px solid #02d5fa;
  border-radius: 5px;
  display: inline-block; /* Cambia el comportamiento de bloque a en línea */
  padding: 5px 10px; /* Agrega un poco de relleno a los cuadros */
  margin-right: 10px; /* Cambia el margen derecho para separar los cuadros */
}

.jeje:hover {
  background: #0084ff;
  border: 1px solid #0084ff;
  border-radius: 5px;
}
