/* Estilos Generales */
body {
    background-color: #f4f4f4;
    color: #333;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}
/* Estilos para el botón más pequeño */
.botonn {
    display: inline-block;
    padding: 5px 10px; /* Tamaño más pequeño del botón */
    background-color: #6494b4; /* Cambia el color de fondo a tu preferencia */
    color: #fff; /* Cambia el color del texto a tu preferencia */
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .botonn:hover {
    background-color: #2980b9;
    transform: scale(1.05);
  }
  
  /* Estilos para el ícono */
  .fa-right-to-bracket {
    margin-right: 5px;
  }
  
  /* Estilos para el texto dentro del botón */
  .spann {
    font-weight: bold;
  }
  

  
  
.container {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Títulos y Encabezados */
h2 {
    color: #4a90e2;
    text-align: center;
    margin-bottom: 30px;
}

/* Estilos del Formulario */
form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    color: #333;
}

/* Campos de Entrada y Selectores */
input[type="number"],
input[type="date"],
select.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    box-sizing: border-box;
}

/* Botones */
button.btn-primary {
    background-color: #4a90e2;
    border-color: #4a90e2;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
}

button.btn-primary:hover {
    background-color: #357abd;
    border-color: #357abd;
}

/* Estilos para los Formularios de Cuotas */
.cuota-group {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.cuota-group h5 {
    margin-bottom: 10px;
    color: #4a90e2;
}

.cuota-group .form-row .col {
    margin-bottom: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    form {
        padding: 10px;
    }

    .cuota-group .form-row .col {
        margin-bottom: 0;
    }
}
