/* Reset básico y estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f7f7f7; /* Fondo claro */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}

/* Contenedor principal */
.container {
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Tarjeta */
.card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

/* Encabezado de la tarjeta */
.card-header {
    background-color: #83bbc5; /* Verde Bootstrap */
    color: #000000;
    padding: 20px;
    border-radius: 15px 15px 0 0;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

/* Cuerpo de la tarjeta */
.card-body {
    padding: 20px;
}

/* Estilo de formularios */
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}
.form-control {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

/* Estilo de botones */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s, color 0.3s;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
}
.asignado {
    font-weight: bold;
    color: green;
}
.message-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Estilos para mensajes de éxito */
.success-message {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

/* Estilos para mensajes de error */
.error-message {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }
    .card-header {
        font-size: 20px;
    }
}

/* Estilos adicionales según lo necesites */
