/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 28px;
}

#lista-pagos {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

#lista-pagos th,
#lista-pagos td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

#lista-pagos th {
    background-color: #007BFF;
    color: #fff;
}

.drag-handle {
    text-align: center;
    cursor: move;
}

button {
    display: block;
    margin: 20px auto;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* Estilos responsivos (ajusta los valores según tus necesidades) */
@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    #lista-pagos th,
    #lista-pagos td {
        padding: 8px;
    }

    .drag-handle {
        font-size: 16px;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }
}
