 
h1 { 
    margin: 20px 0;
    font-size: 28px;
}

#lista-pagos {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

#lista-pagos th,
#lista-pagos td {
    padding: 10px; 
    text-align: left;
}

#lista-pagos th {
    background-color: #747474;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.drag-handle {
    text-align: center;
    cursor: move;
}

button {
    display: block;
    margin: 20px auto;
    background-color: #ADADAD;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    display: block;
    margin: 20px auto;
    background-color: #747474;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* Estilos responsivos (ajusta los valores según tus necesidades) */
@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    #lista-pagos th,
    #lista-pagos td {
        padding: 8px;
    }

    .drag-handle {
        font-size: 16px;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }
}
