/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Estilo para el encabezado */
h1 {
    text-align: center;
    background-color: #3498db; /* Azul */
    color: #fff;
    padding: 20px 0;
    margin: 0;
}

/* Estilo para la barra de búsqueda */
.search-container {
    text-align: center; /* Centrar el contenido en la barra de búsqueda */
    margin: 20px 0;
}

.search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

/* Estilo para el botón de búsqueda (si tienes uno) */
.search-button {
    background-color: #3498db; /* Color del botón de búsqueda */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Estilo al pasar el ratón por encima del botón de búsqueda */
.search-button:hover {
    background-color: #2980b9; /* Cambia el color al pasar el ratón por encima */
}

/* Estilo para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    margin: 20px 0;
}

/* Estilo para las filas pares de la tabla */
table tr:nth-child(even) {
    background-color: #ecf0f1; /* Azul claro */
}

/* Estilo para las filas impares de la tabla */
table tr:nth-child(odd) {
    background-color: #d5dbdb; /* Azul medio */
}

/* Estilo para las celdas de la tabla */
table td, table th {
    padding: 10px;
    text-align: left;
}

/* Estilo para los enlaces en las celdas de la tabla */
table a {
    text-decoration: none;
    color: #3498db; /* Azul */
    font-weight: bold;
}

/* Estilo al pasar el ratón por encima de los enlaces */
table a:hover {
    text-decoration: underline;
}

/* Media query para hacer la tabla responsiva */
@media (max-width: 768px) {
    table {
        font-size: 14px; /* Reducir el tamaño de fuente en dispositivos pequeños */
    }
    table td, table th {
        padding: 8px; /* Reducir el espacio entre celdas en dispositivos pequeños */
    }
}

/* Estilos para dispositivos móviles */
@media (max-width: 480px) {
    h1 {
        font-size: 24px; /* Reducir el tamaño del encabezado en dispositivos móviles */
    }
    table {
        border-radius: 0; /* Eliminar el borde redondeado en dispositivos móviles */
    }
    table td, table th {
        padding: 6px; /* Reducir aún más el espacio entre celdas en dispositivos móviles */
    }
}

/* Estilo para los nuevos campos agregados */
/* Ajusta los selectores y estilos según tus necesidades */
table th.new-field {
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
}


