/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    background-color: #70aee9;
    color: #000;
    padding: 20px;
    text-align: left;
    margin-bottom: 20px;
}

a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0056b3;
}

/* Estilos para la tabla de gastos */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #70aee9;
    color: #000;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #dcdcdc;
}

/* Estilos para los enlaces en la última columna de la tabla de gastos */
td a {
    background: #70aee9;
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
    padding: 7px;
    border-radius: 8px;
}

td a:hover {
    background: #007bff;
    color: #fff;
}

/* Estilos responsive */
@media (max-width: 768px) {
    h1 {
        text-align: center;
    }

    a {
        display: block;
        margin-bottom: 10px;
        text-align: center;
    }

    table {
        font-size: 14px;
    }

    th, td {
        padding: 8px;
    }
}

/* Estilos para el pie de página */
#footer {
    text-align: center; /* Alineación de texto al centro para el pie de página */
    background-color: #f0f0f0; /* Color de fondo del pie de página */
    padding: 10px 0; /* Relleno en el pie de página */
    color: #333; /* Color del texto en el pie de página */
    font-size: 14px; /* Tamaño de fuente en el pie de página */
  }
  