/* Estilos para la página de grupos */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 40px 120px 40px 40px;
}
 
h1 {
    background-color: #70aee9;
    color: #000000;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #70aee9;
    font-weight: bold;
    color: #000000;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #70aee9;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

/* Estilo para el botón "Añadir Grupo" */
button a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
    color: black;
}

/* Estilos para el pie de página */
#footer {
    text-align: center; /* Alineación de texto al centro para el pie de página */
    background-color: #f0f0f0; /* Color de fondo del pie de página */
    padding: 10px 0; /* Relleno en el pie de página */
    color: #333; /* Color del texto en el pie de página */
    font-size: 14px; /* Tamaño de fuente en el pie de página */
  }
  