/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px; /* Reducción del relleno para pantallas más pequeñas */
}

h1 {
    background-color: #70aee9;
    color: #000000;
    padding: 15px; /* Reducción del relleno para pantallas más pequeñas */
}

.container {
    max-width: 100%; /* Ajuste al ancho de la pantalla */
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para el contenedor del enlace "volver" */
.div {
    margin-top: 10px; /* Reducción del espacio superior para pantallas más pequeñas */
}

/* Estilos para el enlace "volver" */
.div a {
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px; /* Reducción del espaciado interno para pantallas más pequeñas */
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: inline-block;
}

/* Estilos para el enlace "volver" al pasar el mouse */
.div a:hover {
    background-color: #0056b3;
}

/* Estilos para el encabezado */
.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    color: #333;
}

/* Estilos para la barra de búsqueda */
.search-container {
    display: flex;
    justify-content: center; /* Centra la barra de búsqueda en pantallas pequeñas */
    margin: 20px 0;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilos para la tabla */
.table-container {
    margin-top: 20px;
    overflow-x: auto; /* Agrega desplazamiento horizontal en pantallas pequeñas */
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

th, td {
    padding: 10px; /* Reducción del relleno para pantallas más pequeñas */
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #70aee9;
    color: #000000;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #dcdcdc;
}

/* Estilos para los enlaces en la última columna */
td a {
    background: #70aee9;
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease;
    padding: 7px;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
}

td a:hover {
    background: #007bff;
    color: #fff;
}

/* Estilos para los botones */
.return-button,
.add-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    margin-right: 10px;
}

.return-button:hover,
.add-button:hover {
    background-color: #0056b3;
}

#mensaje {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
