/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 20px; /* Reducción del relleno para pantallas más pequeñas */
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0; /* Reducción del margen para pantallas más pequeñas */
    background: rgb(247, 244, 244);
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px; /* Reducción del relleno para pantallas más pequeñas */
    text-align: left;
}

/* Estilos para los botones */
.btn {
    display: inline-block;
    padding: 10px 15px; /* Reducción del relleno para pantallas más pequeñas */
    margin: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.btn-secondary {
    background-color: #f2f4f7;
}

/* Estilos para el encabezado */
h1.text-center {
    text-align: center;
    margin: 10px 0; /* Reducción del margen para pantallas más pequeñas */
    background-color: #007bff;
    padding: 10px; /* Reducción del relleno para pantallas más pequeñas */
}

/* Estilos para la paginación */
#pagination {
    margin: 10px 0; /* Reducción del margen para pantallas más pequeñas */
    text-align: center;
}

.pagination li {
    display: inline-block;
    margin: 5px;
}

.pagination a {
    padding: 5px 10px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 3px;
}

/* Estilos para el botón de volver */
.return-button {
    margin-top: 10px;
}

/* Estilos para el botón de registrar trabajadores */
.register-button {
    margin-bottom: 10px;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    /* Redefinir estilos para pantallas más pequeñas aquí */
    body {
        padding: 10px; /* Reducción adicional del relleno para pantallas muy pequeñas */
    }

    table {
        margin: 5px 0;
    }

    th, td {
        padding: 5px;
    }

    .btn {
        padding: 8px 12px;
    }

    h1.text-center {
        margin: 5px 0;
        padding: 8px;
    }

    #pagination {
        margin: 5px 0;
    }
}
