/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Contenedor del Registro */
.registro-container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

/* Estilos para los Inputs y Selects */
.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-container label {
    margin-bottom: 5px;
}

.input-container input,
.input-container select {
    padding: 10px;
    font-size: 16px;
}

/* Botón de Registro */
.btn-container button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-container button:hover {
    background-color: #2980b9;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .registro-container {
        width: 90%;
    }
}
