body {
    font-family: Arial, sans-serif;
    font-size: 1rem; /* Relative font size */
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.5rem; /* Relative font size */
}

/* Formulario */
form {
    text-align: center;
}

label {
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h2 {
        font-size: 1.2rem; /* Relative font size */
    }

    input[type="number"] {
        font-size: 1rem; /* Relative font size */
    }

    button[type="submit"] {
        font-size: 1rem; /* Relative font size */
    }
}
