/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Estilo para el contenedor del formulario */
h2 {
    text-align: center;
    margin: 20px 0;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para las etiquetas y campos de entrada */
label {
    display: block;
    margin-bottom: 8px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para el botón */
button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Alineación del botón al centro */
button[type="submit"] {
    margin: 0 auto;
}

/* Estilo para mensajes de éxito o error */
.message {
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
}

.message.success {
    background-color: #4CAF50;
    color: #fff;
}

.message.error {
    background-color: #f44336;
    color: #fff;
}
